.btn {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-success {
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 10px;
    margin: 10px;
}

.container {
    margin-top: 20px;
    margin-bottom: 10px;
}